﻿@page
@model HomeWork1.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<h2>@Model.Message</h2>
<form method="post">
    <input type="text" name="mess" />
    <input type="submit" value="Send" />
</form>
<b>@Model.LastRequest</b>