@page
@model HomeWork1.Pages.MyPage

@{
    ViewData["Title"] = "My Page";
}

<!DOCTYPE html>

<html>
<head>
    <title>My Page</title>
</head>
<body>
<div>
    <h1>This is your page</h1>
    <p>It's empty now</p>
</div>
</body>
</html>