@page
@model HomeWork1.Pages.Settings

@{
    ViewData["Title"] = "Settings";
}

<!DOCTYPE html>

<html>
<head>
    <title>ViewData["Title"]</title>
</head>
<body>
<div>
    Here you can configure settings!
</div>
</body>
</html>