body {
    background-size: auto;
}

.enterElements{
    white-space:revert;
}

.enter {
    z-index: 100;
    line-height: inherit;
    position: fixed;
    color: black;
    /*    display: inline;*/
    white-space:pre;
    /*    width: 5vw;
        height: 5vh;*/
    /*background-color: black;*/
    /*outline-color: black;*/
    /*    text-outline: black 50px 50px;*/
    /*-webkit-text-stroke:0.1vw darkkhaki;*/
    /*    -webkit-text-fill-color:transparent;*/
    /*    font-family: Righteous, cursive;*/
    left: calc(100vw - 28vmax);
    padding-right: 50vw;
    margin-right: -40vw;
    top: 2vh;
    font-size: 2vh;
    height: 90%;
    width: 90%;
}
.enter > .enterBtn {
    /*    margin-top: 1vh;*/
    margin-right: 2vw;
}


/*#errorBlock {

    top: calc(1vmin + 1vmax);
    right: calc(10 *(1vmin + 1vmax));
    overflow: hidden;
    text-align: left;
    word-break: break-all;
    position: absolute;
    font-size: calc(2vmin + 1vmax/ 2);
    color: #ff0002;
    -webkit-text-stroke-width: 0.05vh;
    -webkit-text-stroke-color: black;
}*/

#errorBlock {
    top: calc(45vh);
    /*right: calc(1 * (1vmin + 1vmax));*/
    text-align: left;
    white-space: pre;
    display: block;
    padding-right: calc(50 * (2vmin + 1vmax/ 4));
    position: absolute;
    font-size: calc(0.6 * (1vmin + 1.5vmax));
    color: #ff0002;
    -webkit-text-stroke: 0.05vh white;
    text-shadow: calc(0.05 * (1vmin + 1vmax)) calc(0.05 * (1vmin + 1vmax)) black;
}

.input_data {
    width: calc(4vw + 3vmin + 8vmax + 2vh);
    margin-bottom: 0.3vh;
}


.userData {
    position: fixed;
    color: black;
    left: calc(100vw - 25vmax);
    padding-right: 50vw;
    margin-right: -40vw;
    top: 2vh;
    white-space:pre;
    font-size: 2vh;
    line-height: 3vh !important;
}

.userInfo {
    margin-right: 2vw;
    -webkit-text-stroke: 0.05vh black;
}

#userName {
    font-size: calc(2vmin + 2vmax);
    color: #9cf5ff;
    font-family: 'cursive';
    margin-top: 3vh !important;
    text-decoration: underline rgba(255,143,0,0.62) dashed;
}

#UserBalance {
    position: relative;
    color: #ff4b52;
    top: calc(0.5 * 1vmin/2 + 1vmax/8);
    font-family: "Comic Sans MS", monospace;
    font-size: calc(1vmin + 1vmax);
    text-decoration: underline rgba(255,143,0,0.62) dashed;
}

#changeBalance {
    margin-top: calc( 2 * 1vmin/2 + 1vmax/8) !important;
    font-family: Righteous, cursive;
}


.settingsBtn {
    margin: 0;
    line-height: inherit;
    font-size: inherit;
    font-family: Righteous, cursive;
}

.productCount {
    z-index: 2;
    -webkit-text-stroke: 0.07vh #0036ff;
    padding-left: 0.60vw;
    align-items: center;
    justify-content: center;
    top: -8vh;
    left: 10vw;
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-left: -10vw;
    position: absolute;
    height: calc(2 * (1vh + 1vw));
    width: 8vw;
    font-size: calc((1vw + 2vh));
    border: 0.5vh solid #00ff1e;
    background-color: #0adfff;
    border-radius: 4vh;
    min-width: 5vh;
    /* min-height: 0.7vw; */
    /* max-height: calc(3vh + 5vw); */
    margin-top: calc(1 * (-2.5vmax + 2.2vmin + 5vh))
}
